<mat-toolbar color="primary">
  <mat-button-toggle-group name="filtro" aria-label="filtro">
    <span class="filler">
      <mat-button-toggle value="Todos">Todos</mat-button-toggle>
    </span>
    <span class="filler">
      <mat-button-toggle value="Hospitalizados">Hospitalizados</mat-button-toggle>
    </span>
    <span class="filler">
      <mat-button-toggle value="Ambulatorios ">Ambulatorios </mat-button-toggle>
    </span>
    <span class="filler">
      <mat-button-toggle value="Imagen/Laboratorio">Imagen/Laboratorio</mat-button-toggle>
    </span>
  </mat-button-toggle-group>
  <span class="filler">
    <mat-slide-toggle>Ver solo Areas</mat-slide-toggle>
  </span>
</mat-toolbar>
