.filler {
  flex: 1 1 auto;
}

.example-spacer {
  position: Absolute;
  right: 20px;
}

.filter-btn {
  background: transparent;
  color: gray;
}

.mat-button-toggle-checked
{
    color: turquoise;
}
    