<mat-toolbar color="withe">
  <mat-button-toggle-group name="filtro" aria-label="filtro">
    <span class="filler">
      <mat-button-toggle class="filter-btn" value="Todos">Todos({{numPacientes[0]}})</mat-button-toggle>
    </span>
    <span class="filler">
      <mat-button-toggle class="filter-btn" value="Hospitalizados">Hospitalizados()</mat-button-toggle>
    </span>
    <span class="filler">
      <mat-button-toggle class="filter-btn" value="Ambulatorios ">Ambulatorios() </mat-button-toggle>
    </span>
    <span class="filler">
      <mat-button-toggle class="filter-btn" value="Imagen/Laboratorio">Imagen/Laboratorio()</mat-button-toggle>
    </span>
  </mat-button-toggle-group>

  <span class="example-spacer">
    <mat-slide-toggle class="filter-toggle" (change)="expand()">Ver solo Areas</mat-slide-toggle>
  </span>
</mat-toolbar>

<div *ngFor="let area of areas; let i = index">
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="allExpandState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{area}}
      </mat-panel-title>
      <mat-panel-description style="margin-left:auto; margin-right:0;">
        {{numPacientes[i+1]}} Pacientes
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container" *ngFor="let paciente of pacientes[i]">
      <div class="paciente-icon">
        imagen cool
      </div>
      <div class="paciente-info">
        <mat-card>
          <div class="container">
            <div class="info-left">
              <p style="font-size: 16px;">#{{paciente.id}}-{{paciente.fullname}} </p>
              <b>{{paciente.servicioMedico}}</b> <br>
              Area: {{paciente.area}} Habitacion: {{paciente.habitacion}}<br>
              Médico: {{paciente.medico}} <br>
              Motivo de Ingreso: {{paciente.motivo}}<br>
            </div>
            <div class="info-right">
              {{paciente.edad}} años, del {{paciente.nacimiento}} <br>
              Ubicación Actual: {{paciente.ubicacion}}<br>
              Fecha Ingreso {{paciente.ingreso}}<br>
              Estancia de {{paciente.estancia}} <br>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-expansion-panel>
</div>
