/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$mainColor: #00495e;

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: $mainColor;
  ;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: $mainColor;
  ;
}

.mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: $mainColor;
  ;
}
